node_modules/
pnpm-lock.yaml
pnpm-shrinkwrap.yaml
.next
.pnp.cjs
.eslintrc*
.tap
*.log
.DS_Store
yarn.lock
.next
*.tsbuild
.next
.next/types
.next/b 
esbuild
.env*
*.env*
.env.local
.env*.local
public/photos/avatar.png
public/resume.pdf
